html {
  height: 100%;
  width: 100%;
}
h1 {
  color: black;
  text-align: center;
  padding: 10px;
}
iframe {
  height: 100%;
  width: 100%;
}


.main{
  padding: 20px;
  text-align: center;
  color: maroon;
  background-color: gold;
}
.content {
  width: 100%;
  height: 700px; 
}
.trinhdon { 
  background-color: #FFFF00;
  padding: 10px;
  display: flex;
}
.hello {
  padding: 5px 10px; 
  margin-right: 5px; 
  border: 1px solid #ccc;
  text-decoration: none; 
  color: red; 
}
.hello:hover {
  background-color: #918d8d;
}
