html {
  height: 100%;
  width: 100%;
}
table {
  height: 700px;
 
}

  tr, td {
    padding: 15px; 
    text-align: center;
  ; 
   
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
  fron

}
.left-column {
  width: 30%;
  height: 100%;
  
}
  
.right-column {
  width: 70%;
  height: 100%
}

header {
  background-color: red;
  color: black;
  text-align: center;
  padding: 10px;
}

footer {
  background-color: red;
  color: black;
  text-align: center;
  padding: 5px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
body {
  height: 100%
}
center {
  height: 100%
}

